mTLS access control?

Section 5.1, Access Control, says:

> It is RECOMMENDED to use access control on who can send TRACEPARENT to initiate data collection, e.g. using IP address allow-lists, TSIG[[RFC8945](https://powerdns.github.io/draft-edns-otel-trace-ids/draft-edns-otel-trace-ids.html#RFC8945)], or other methods.

I wonder if it would make sense to mention mTLS as a potential means of access control? 

It's not a part of DoT in general (RFC 7858), but it is described in XoT (RFC 9103).